/* Reset default margin and make full screen centered layout */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at center, #1e1e1e, #000);
  color: white;

  display: flex;              /* Enable flexbox */
  justify-content: center;    /* Center horizontally */
  align-items: center;        /* Center vertically */
  min-height: 100vh;          /* Full screen height */
}

/* Main container */
.app {
  text-align: center;
}


/* Heading Style */

h1 {
  font-size: 45px;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

/* Hover effect for heading */

h1:hover {
  color: #00ffff;
  text-shadow: 0 0 20px #00ffff;
  cursor: pointer;
}

/* Winner Badge */

.winner-badge {
  background: linear-gradient(45deg, gold, orange);
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
  animation: pop 0.5s ease;  /* Animation when user wins */
}

/* Pop animation for winner badge */

@keyframes pop {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}


/* Ticket Box */

.ticket-box {
  width: 350px;
  margin: 20px auto;
  padding: 35px;
  border-radius: 25px;
  background: #111;
  border: 2px solid #0066ff;
  box-shadow: 0 0 25px #0066ff;
  transition: 0.4s ease;
}

/* Hover effect for ticket box */

.ticket-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #00ffff;
}

/* Special styling when user wins */

.winner-box {
  border-color: gold;
  box-shadow: 0 0 40px gold;
}


/* Ticket Title */

.ticket-box h2 {
  color: #00ff00;
  margin-bottom: 20px;
}


/* Numbers Styling */

.numbers {
  font-size: 45px;
  letter-spacing: 15px;
}

/* Individual number styling */

.number {
  display: inline-block;
  color: #ff66ff;
  text-shadow: 0 0 15px #ff00ff;
  transition: 0.3s ease;
}

/* Hover effect for numbers */
.number:hover {
  color: white;
  transform: scale(1.2);
}


/* Sum Text */

.sum {
  margin-top: 15px;
  font-size: 18px;
  color: #ccc;
}

/* Attempts Counter */

.attempts {
  margin: 15px 0;
  color: #aaa;
}


/* MUI Button Custom Styling */

.buy-btn {
  border: 2px solid #00ffff !important;
  color: #00ffff !important;
  padding: 10px 25px !important;
  transition: all 0.3s ease !important;
}

/* Hover effect for button */

.buy-btn:hover {
  background-color: #00ffff !important;
  color: black !important;
  box-shadow: 0 0 20px #00ffff !important;
  transform: translateY(-4px);
}


/* Best Score Styling */

.best-score {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: gold;
  text-shadow: 0 0 10px gold;
}



/* Reset Button Styling */

.reset-btn {
  border: 2px solid red !important;
  color: red !important;
  padding: 10px 25px !important;
  transition: all 0.3s ease !important;
}

/* Hover Effect */

.reset-btn:hover {
  background-color: red !important;
  color: white !important;
  box-shadow: 0 0 20px red !important;
  transform: translateY(-4px);
}